<div class="display-6 mb-4">
  <h1>New Place</h1>
</div>

<%= form_with :model => @place do |form| %>
  <div class="mb-4">
    <%= form.label "name", :class => "form-label" %>
    <%= form.text_field "name", :class => "form-control" %>
  </div>

  <div class="mb-4">
    <%= form.submit "Create Post", :class => "btn btn-primary" %>
  </div>

<% end %>